.task-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.task-form_input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.task-form_button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
.task-form_button:hover {
  background-color: #005fa3;
}

.task-list {
  max-width: 500px;
  margin: 0 auto;
}

.task-list_input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.task-list_tasks {
  list-style: none;
  padding: 0;
}

.task-list_task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.task-list_task-buttons button {
  padding: 5px 10px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.task-list_task-buttons button:hover {
  background-color: #005fa3;
}
